<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	(% block head %}
		{% if page_title is defined %}
			<title>uFundy  -  {{page_title}}</title>
		{% else %}
			<title>uFundy - The Onion Crowd Funding Portal</title>
		{% endif %}
		{% if page_description is defined %}
			<meta name="description" content="{{page_description}}">
		{% else %}
			<meta name="description" content="uFundy -The Start-Up Company CrowdFunding~">
		{% endif %}
	{% endblock %}
	<meta name="author" content="Jason A. Elbourne" >
	
	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width,  initial-scale=1.0">
	<!-- Facebook meta Properties -->
	<meta property="og:title" content="The Start-Up Company CrowdFunding Portal" />
	<meta property="og:type"content="activity"/>
	<meta property="og:url" content="http://www.uFundy.com" />
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="uFundy" />
	
	<link rel="stylesheet" href="/css/worddef.css"  media="screen" />
	
	<!-- All JavaScript at the bottom, except for Modernizr which  enables HTML5 element  -->
	<script src="/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>

	{% block body %}
	{% endblock %}
	
	<!-- JavaScript at the bottom for fast page loading -->
	
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>")</script>
	
	{% block scripts %}
	{% endblock %}
	
</body>
</html>
	
		